$set-prefix: '', -moz-, -webkit-, -o-, -ms-;
$rformWid: 40px;
$lformWid: 1000-$rformWid;
@mixin PP($name, $value){
	@each $prefix in $set-prefix{
		#{$prefix}#{$name}: $value;
	}
}
@mixin VP($name, $value){
	@each $prefix in $set-prefix{
		#{$name}:#{$prefix}#{$value}
	}
}
@mixin userselect{
	$Uprefix: '', -khtml-, -moz-, -webkit-;
	@each $prefix in $Uprefix{
		#{$prefix}user-select: none
	}
}
@mixin bg($main){
	background: $main;
	@each $prefix in $set-prefix{
		background:#{$prefix}linear-gradient(top, #{$main}0%, #{$main}50%, darken( $main, 13.5%) 51%, darken( $main, 20%) 100%);
	}
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, darken($main, 20%)), color-stop(0.51, darken($main, 13.5%)), color-stop(0.50, $main), color-stop(0.00, $main));
}
body{
	color: #000;
	font-family: "Gill sans", Osaka, Arial;
}
#wrench{
	border: 2px solid #666;
	padding: 3px;
	margin-top:3px;
	border-radius: 5px;
	cursor: pointer;
	width: 22px;
	height: 22px;
}
#body{
	margin: 0 auto;
	padding: 10px;
	width: 1000px;
}
#footer{
	border-top: 1px solid #999;
}
#compress{
	clear: both;
}
#results{
	position: absolute;
	bottom: 0;
	right:0;
	width: 200px;
}
.form{
    $trans:width 0.3s ease-in-out;
	display: block;
	float: left;
	margin: 3px 0 0;
	padding: 0;
	width: $lformWid;
	border: none;
    @include PP(transition, $trans);
	textarea{
		@include VP(white-space, pre-wrap);
        @include PP(transition, $trans);
		width:$lformWid - 4;
		height: 15em;
		padding: 2px;
		border:none;
		background: #FFF;
		color: #000;
		word-break: break-all;
		font-family: "Gill sans", Osaka, Arial;
		resize: none;
	}
    legend{
        @include PP(transition, $trans);
        overflow:hidden;
        padding: 8px 2px;
        width: $lformWid - 4;
        border-bottom: 2px solid #666;
        color: #000;
    }
	.button, .Rbutton{
		display: inline-block;
	}
	.reset{
		border-radius: 5px 0 0 5px;
	}
	.select{
		border-radius: 0 5px 5px 0;
	}
    &.large{
        display:block;
        width:700px;
        legend{
            width:700px - 4px;
        }
        textarea{
            width:700px - 4px;
        }
    }
    &#after_form.hide{
        width:0px;
        padding:0;
        legend{
            width:0px;
            padding:0;
        }
        textarea{
            width:0px;
            padding:0;
        }
    }
    &.small{
        width:$lformWid - 700;
        legend{
            width:($lformWid - 700 - 4);
        }
        textarea{
            width:($lformWid - 700 - 4);
        }
    }
}
#board{
	height: 400px;
}
a.button, .button, .Rbutton, .inlinebutton, .inlineRbutton{
	background: none;
	color: #666;
	box-shadow: none;
	text-shadow: none;
	border: 1px solid transparent;
	&:hover{
		border: 1px solid #CCC;
	}
	&:active{
		top:0
	}
}
.Rbutton, .inlineRbutton{
	&:active,&:hover{
		color:#FFF;
	}
}
.resultmes,.resultmes+span{
	display: inline-block;
	width: 80px;
}
#mes{
	padding: 5px;
	opacity: .3;
}
#mes.on{
	text-shadow: 0 0 3px #DEF, 0 0 4px #9CF, 0 0 10px #69C;
	opacity: 1;
}
#befB, #aftB, #minus{
	width: 120px;
	text-align: right;
}
#options{
	display: none;
	background: #FFF;
	position: absolute;
	right: 100%;
	top: 0;
	padding: 0 3px;
	z-index: 5;
	height: 100%;
}
#option_menu{
	position: absolute;
	top: 0;
	right:100%;
	background:#FFF;
	display: none;
	white-space: nowrap;
	height: 100%;
	padding: 0 4px;
	border-left: 3px solid #CCC;
}
.option_menu_btn{
	@include userselect;
	$thisBorder: 1px;
	$thisPadding: 7px;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	padding: 2px $thisPadding;
	width: 100px-($thisPadding*2)-($thisBorder*2);
	border: $thisBorder solid transparent;
	border-bottom:$thisBorder+1px solid transparent;
	height: 24px;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	&:hover{
		border-color: #666;
	}
	&:active{
		top: 1px;
		box-shadow: none;
	}
}
#option_all{
	border-radius:5px;
}
.customCheckBox a{
	$thisPadding: 5px;
	$thisBorder: 1px;
	display: inline-block;
	overflow: hidden;
	margin: 2px 0;
	padding: $thisPadding;
	width: 200px-($thisPadding*2)-($thisBorder*2);
	border:#{$thisBorder} solid transparent;
	border-radius: 5px;
	color: #222;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	font-size: 13px;
	font-family: "Gill sans", Osaka, Arial;
	line-height: 1;
	text-align:left;
	&.checked{
		background: #DEF;
	}
	&:hover{
		border:#{$thisBorder} solid #999;
	}
	&.Hack{
		color:#CCC;
		pointer-events:none;
		&:hover{
			border:1px solid transparent;
		}
	}
}
#cse-search-box{
	display: inline-block;
	margin: 2px 0;
	vertical-align: middle;
}
#option_menu .customCheckBox .checked{
	background: #FDE;
}
#rform{
	@include userselect;
	position: relative;
	float: left;
	width:#{$rformWid};
	input, label{
		display: none;
	}
	height: 100%;
}
#lform{
	float: left;
	width: $lformWid;
	height: 100%;
}
.customCheckBox{
	li{
		list-style: none;
		background:#FFF;
		height: 29px;
	}
	&, ul{
		margin: 0;
		padding: 0;
		text-align:right;
	}
}
#nav{
	padding: 0;
	font-size: 0;
	li{
		@include PP(transition, background .1s linear 0);
		display: inline-block;
		margin-right: 3px;
		border-radius: 3px;
		list-style: none;
		font-size: 16px;
	}
}
#nav li:hover, .now_location{
	background: #DEF;
}
#nav a{
	display: block;
	padding: 3px 8px;
	color: #000;
	font-family: krungthep;
}
#logo{
	margin: .5em 0;
}
#logo_title{
	display: block;
	width: 164px;
	height: 40px;
	background: url(./title.png) no-repeat;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
#body #fc2form input[type="text"], #body #fc2form textarea{
	color: #000;
}
dt{
	display: inline-block;
	padding: 3px 0;
	border-bottom: 1px dashed #CCC;
}
dd{
	margin-bottom: .5em;
	padding: .5em 0;
	border-bottom: 1px dashed #CCC;
}
iframe{
	margin: 0 5px;
	width: 420px;
	height: 315px;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}
.debug {
	legend{
		color: #B33;
	}
}
